services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mlb_stats
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mlb-app:
    build: .
    ports:
      - "5555:5555"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped

volumes:
  postgres_data:
